{% extends "_base.html" %}

{% block content %}


    <form method = "post" action = "/register">

        <label for= "id">Enter User ID </label>
           
                    <input id="id" type="number" name="id"/>

            <label for= "first_name">Enter First Name</label>
           
                    <input id="first_name" type="string" name="first_name"/>
            
             <label for= "last_name">Enter Last Name</label>
           
                    <input id="last_name" type="string" name="last_name"/>
            
            <label for= "password">Enter Password</label>
           
                  <input first_name="password" type="string" name="password"/>
        
    
            <label for= "email">Enter Email</label>
         
                  <input id="email" type="string" name="email"/>

          
                
                    <button type="submit">Create Account</button>
        </form>


{% endblock %} 